<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FriendlyBlogger</title>
</head>
<body>
    <header>
        <div class="header-main topzindex">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <div class="container-fluid ">
                    <div class="nav-brand-item navbar-brand">
                <a class="logoheader" href="/home" alt="BrandName">FRIENDLYBLOGGER</a>
            </div>
           <div class="navbar-toggler-sm">
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbardropdown" aria-controls="navbardropdown" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon btn btn-light "></span>
              </button>
            </div>
                <div class="collapse navbar-collapse" id="navbardropdown" >
                    <ul class=" navbar-nav ms-auto">
                <li class="nav-item homelink-header" >
                    <a class="no-decor mx-4 " href="/home" alt="homelink" text-decoration="none">Home</a>
                </li >

                <li class="nav-item communitylink-header" >
                    <a class="no-decor mx-4" href="/communitypage" alt="homelink" text-decoration="none">community</a>
                </li >

                <li class="nav-item myarticleslink-header" >
                    <a class="no-decor mx-4" href="/myarticlespage" alt="homelink" text-decoration="none">myarticles</a>
                </li >

                <li class="nav-item accountlink-header" >
                    <a class="no-decor mx-4" href="/about" alt="homelink" text-decoration="none">account</a>
                </li >

                <li class="nav-item" >
                    
                   <a href="/createpost">
                    <button class="btn btn-light create-post-btn" >create post+</button>
                </a>
                </li >

            </ul>
            </div>
            </div>
            </nav>
    </header>

    <div class="header-body-gap">

    </div>

    <main >


