<%-include("../partials/header.ejs")%>

<div class="container-main pt-2">
    <div class="changepassword-form">
<label for="oldpassword" class="form-label text-light ">Old Password</label>
<input type="password" name="oldpassword" class="form-control">

<label for="newpassword" class="form-label text-light pt-2">New Password</label>
<input type="password" class="form-control" name="newpassword">

<button type="submit" class="btn btn-dark mt-3">Change password</button>
    </div>

</div>

<%-include("../partials/footer.ejs")%>
