<%-include("../partials/header.ejs")%>
<h1 class="text-secondary px-3">Contact Us</h1>
<div class="container-m py-2 px-3  min-vh-100 text-light">
    <h2>Email</h2>
    <a href="mailto:cusotmersupportqueries@friendlybloggers.com">
    <h5 class="no-decor">cusotmersupportqueries@friendlybloggers.com</h5>
</a>
<h2>Phone</h2>
    <h5 class="no-decor">+1(265)-265-2665</h5>
<h2>Address</h2>

    <h5 class="no-decor">Office No:04, NSK Corporate Spaces, Durham, Dubai, 34334</h5>

</div>

<%-include("../partials/footer.ejs")%>